In [32]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import auc, roc_curve,confusion_matrix, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
sns.set_theme(style="darkgrid")

In [34]:
scikit_version = sklearn.__version__
scikit_version

'1.0.2'

In [4]:
data = pd.read_csv("fraude_data.csv")

In [5]:
data.shape

(192500, 12)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192500 entries, 0 to 192499
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           192500 non-null  int64
 1   step            192500 non-null  int64
 2   type            192500 non-null  object
 3   amount          192500 non-null  float64
 4   nameOrig        192500 non-null  object
 5   oldbalanceOrg   192500 non-null  float64
 6   newbalanceOrig  192500 non-null  float64
 7   nameDest        192500 non-null  object
 8   oldbalanceDest  192500 non-null  float64
 9   newbalanceDest  192500 non-null  float64
 10  isFraud         192500 non-null  int64
 11  isFlaggedFraud  192500 non-null  int64
dtypes: float64(5), int64(4), object(3)
memory usage: 17.6+ MB

In [7]:
data.isnull().sum()

index             0
step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [8]:

data.describe()

,index,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,1.925000e+05,192500.000000,1.925000e+05,1.925000e+05,1.925000e+05,1.925000e+05,1.925000e+05,192500.000000,192500.000000
mean,3.217914e+06,247.825377,2.261676e+05,8.616604e+05,8.270867e+05,1.084274e+06,1.230771e+06,0.038961,0.000083
std,1.861619e+06,147.685363,7.720697e+05,2.912266e+06,2.887263e+06,3.297716e+06,3.575349e+06,0.193503,0.009116
min,2.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.593112e+06,156.000000,1.401661e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,3.216306e+06,249.000000,8.060089e+04,1.696019e+04,0.000000e+00,1.144710e+05,2.091728e+05,0.000000,0.000000
75%,4.835272e+06,347.000000,2.188217e+05,1.336372e+05,1.290969e+05,9.127214e+05,1.115385e+06,0.000000,0.000000
max,6.362619e+06,743.000000,6.988673e+07,5.958504e+07,4.958504e+07,2.511150e+08,2.506381e+08,1.000000,1.000000

In [9]:
data['nameDest'].nunique()
# nameDest contient l'identifiant de la personne qui a reçu le montant de la transaction

168929

In [10]:
data['nameOrig'].nunique()
# nameOrig contient l'identifiant de la personne qui a transféré le montant de la transaction

192494

In [11]:
# suppression de trois colonnes
data= data.drop(labels = ['index','nameOrig', 'nameDest'], axis=1)

data.sample(5)

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
178505,20,CASH_IN,141171.17,14958879.89,15100051.06,1165404.51,1444921.45,0,0
82240,163,CASH_OUT,270544.31,1094.00,0.00,0.00,270544.31,0,0
107220,304,CASH_OUT,178893.90,0.00,0.00,11259696.25,11438590.15,0,0
15615,43,PAYMENT,3051.70,11146.00,8094.30,0.00,0.00,0,0
164114,204,CASH_OUT,176967.18,0.00,0.00,3725080.92,3902048.11,0,0

In [12]:
data['step'] =data['step']  %24
data.sample(5)

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
14678,12,CASH_OUT,51602.26,0.00,0.00,123088.69,458550.85,0,0
22475,16,CASH_IN,77013.02,1610383.11,1687396.13,1773749.74,1696736.72,0,0
159798,18,CASH_OUT,139369.43,476.00,0.00,5150176.56,5289545.99,0,0
156996,23,PAYMENT,733.82,0.00,0.00,0.00,0.00,0,0
33491,19,CASH_OUT,150211.51,0.00,0.00,680995.02,831206.53,0,0

In [13]:
data =data.loc[(data.type == 'TRANSFER') |   (data.type == 'CASH_OUT')]
data.shape

(87998, 9)

In [14]:
data = pd.concat([data,
                              pd.get_dummies(data['type'],
                                             prefix = 'type', drop_first = True)],
                              axis = 1)

data.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_TRANSFER
0,11,CASH_OUT,427818.23,198219.0,0.00,0.00,427818.23,0,0,0
2,20,CASH_OUT,80828.54,0.0,0.00,5149991.49,5230820.04,0,0,0
3,20,TRANSFER,106069.89,301258.0,195188.11,263816.83,369886.72,0,0,1
6,18,CASH_OUT,402832.90,11665.0,0.00,28550.98,431383.87,0,0,0
12,22,CASH_OUT,34643.49,0.0,0.00,346081.41,380724.90,0,0,0

In [15]:
data = data.drop(labels = ['type','isFlaggedFraud'], axis = 1)
data.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_TRANSFER
0,11,427818.23,198219.0,0.00,0.00,427818.23,0,0
2,20,80828.54,0.0,0.00,5149991.49,5230820.04,0,0
3,20,106069.89,301258.0,195188.11,263816.83,369886.72,0,1
6,18,402832.90,11665.0,0.00,28550.98,431383.87,0,0
12,22,34643.49,0.0,0.00,346081.41,380724.90,0,0

In [16]:
data['isFraud'].value_counts()

0    80498
1     7500
Name: isFraud, dtype: int64

In [17]:
data['origBalanceDiscrepancy'] = \
   data.newbalanceOrig + data.amount -data.oldbalanceOrg

data['destBalanceDiscrepancy'] = \
    data.oldbalanceDest + data.amount - data.newbalanceDest

In [18]:
data.to_csv('preprocessed_transaction_data.csv', index=False)

In [19]:
data_finance= pd.read_csv('preprocessed_transaction_data.csv')
data_finance.tail(10)

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_TRANSFER,origBalanceDiscrepancy,destBalanceDiscrepancy
87988,21,973805.75,973805.75,0.0,0.00,0.00,1,1,0.0,973805.75
87989,10,45077.10,45077.10,0.0,0.00,0.00,1,1,0.0,45077.10
87990,3,6351930.74,6351930.74,0.0,475618.00,6827548.75,1,0,0.0,-0.01
87991,9,348983.86,348983.86,0.0,0.00,0.00,1,1,0.0,348983.86
87992,18,40388.58,40388.58,0.0,0.00,0.00,1,1,0.0,40388.58
87993,20,19742.71,19742.71,0.0,2098671.68,2118414.39,1,0,0.0,0.00
87994,14,298365.86,298365.86,0.0,0.00,298365.86,1,0,0.0,0.00
87995,14,1468304.35,1468304.35,0.0,0.00,0.00,1,1,0.0,1468304.35
87996,2,2984434.36,2984434.36,0.0,5498919.48,8483353.84,1,0,0.0,0.00
87997,4,254719.63,254719.63,0.0,0.00,0.00,1,1,0.0,254719.63

In [28]:
X = data_finance.drop(['isFraud'], axis = 1)

y = data_finance['isFraud']

In [ ]:
# data.to_csv('preprocessed_transaction_data.csv', index=False)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 123)

X_train.shape, X_test.shape

((61598, 9), (26400, 9))

In [29]:
y_train.shape, y_test.shape

((61598,), (26400,))

In [47]:
rf_clf = RandomForestClassifier()

randforest_clf= rf_clf.fit(X_train, y_train)

In [48]:
y_pred_rf = randforest_clf.predict(X_test)

pred_result= pd.DataFrame({ 'y_test': y_test,
                           'y_pred': y_pred_rf})
pred_result

       y_test  y_pred
33147       0       0
70797       0       0
64645       0       0
68223       0       0
22323       0       0
...       ...     ...
72920       0       0
64137       0       0
84628       1       1
54486       0       0
71565       0       0

[26400 rows x 2 columns]

In [49]:
print('Random Forest\n')



accuracy = accuracy_score(y_test, y_pred_rf)
precision = precision_score(y_test, y_pred_rf)
recall = recall_score(y_test, y_pred_rf)


print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)

Random Forest

Accuracy: 0.9995833333333334
Precision: 0.9995557529986673
Recall: 0.995575221238938

In [50]:
fpr_rf, tpr_rf, _ = roc_curve(y_test, y_pred_rf)

AUC_rf = auc(fpr_rf, tpr_rf)

print('AUC for Random Forest :', AUC_rf)

AUC for Random Forest : 0.9977668981091127

In [67]:
classifier = RandomForestClassifier()
clf_pipeline = Pipeline(steps=[('classifer', classifier)])
pipeline_model = clf_pipeline.fit(X_train,y_train)

In [68]:
y_pred= pipeline_model.predict(X_test)

In [69]:
pipe_clf_param= {}

pipe_clf_param['pipeline_clf']=pipeline_model
pipe_clf_param['sklearn_version'] = scikit_version
pipe_clf_param['accuracy']= accuracy
pipe_clf_param['precision']= precision
pipe_clf_param['recall']=recall
pipe_clf_param['AUC_rf ']=AUC_rf

In [70]:
filename= 'models/pipe_clf_checkpoint.joblib'

In [72]:
joblib.dump(pipe_clf_param, filename)

['models/pipe_clf_checkpoint.joblib']

In [73]:
pipe_clf_checkpoint = joblib.load(filename)

In [75]:
reloaded_pipeline = pipe_clf_checkpoint['pipeline_clf']
reloaded_pipeline

Pipeline(steps=[('classifer', RandomForestClassifier())])

In [76]:
y_pred= reloaded_pipeline.predict(X_test)

In [78]:
accuracy_score(y_test, y_pred)

0.9995833333333334

In [77]:
pipe_clf_checkpoint['accuracy']

0.9995833333333334